/ ユーザー編集ページに遷移するためのパスを追加
.side-content
  .top-side-content
    .user
      .use__name  #{current_user.name}
      = link_to  do
        %i.fa.fa-cog{"aria-hidden" => "true"}
      = link_to  new_group_path do
        %i.fa.fa-pencil-square-o{"aria-hidden" => "true"}
        .clear
  .middle-side-content
    .group
      - current_user.groups.each do |group|
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__info
            = group.show_last_message
